@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;800&display=swap');

*{
    font-size: 10px;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 180, 82);

}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(245, 86, 86),rgba(211, 46, 46, 0.658)),url("https://images.pexels.com/photos/70746/strawberries-red-fruit-royalty-free-70746.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") ;
    background-attachment:fixed;
    background-size: cover;
    position: relative;
    width:100%;
    height: 70vh;
    transition: height .5s ease-in-out;
    z-index:0;
}

.hero .brand{
    position: absolute;
    top: 5vh;
    left: 5vh;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(100, 0, 0);
}

.hero h1{
    font-size: 10rem;
    color: white;
    font-weight: 200;

}

.all-sections{
    position: absolute;
    z-index:1;
    transition: transform .5s ease-in-out;

}
.all-sections:hover {
    transform: translateY(-55vh);
}


.section1{
    background-color: rgb(230, 79, 59);
    overflow: hidden;
    width: 100vw;
}

.section2{
    background-color: rgb(235, 124, 80);
    overflow: hidden;
    /* margin-left: 3vw; */
    width: 97vw;

}

.section3{
    background-color: rgb(241, 146, 82);
    overflow: hidden;
    /* margin-left: 6vw; */
    width: 94vw;

}

.section-expand{
    width:100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition:height .5s ease-in-out;
}
.section-expand:hover{
    height: 70vh;
    align-items: flex-start;
}


.section-expand h2{
    font-weight: 100;
    color:white;
    font-size: 2rem;
}
.section-expand:hover h2{
    font-weight: 500;

}

.section-expand p{
    margin-top: 30px;
    color:white;
    font-size: 1.6rem;
    font-weight: 200;
    padding-right: 50px;
}
.section-container{
    width:65vw;
    height:auto;
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.section-container--second img{
    margin-top: 5vh;
    border-radius: 3px;
    width: 30vw;
    height: 18vw;
    object-fit: cover;
}

.footer{
    height: 10vh;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (orientation:portrait ){

    .hero h1{
        font-size: 8rem;
    }
    .section-container{
        flex-direction: column;
        align-items: flex-start;    justify-content: flex-start;
        margin-top: 5px;
        width:90vw;
    }
        
    .section-container--second img{
        transform: translateX(-5vw);
        width: 100vw;
        height: 50vh;
    }
}